<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="reibiscuit.Bussiness.Properties.Settings.reibiscuiConnectionString"
            connectionString="Data Source=APC-VIRTUALPC\SQLEXPRESS;Initial Catalog=reibiscui;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>